.options button {
    background: black;
    border: none;
    color: orange;
    display: block;
    width: 30%;
    font-size: 50px;
    text-align: left;
}



/*
.FrontPage {
    text-align: center;
}

.Front-header {
    background-image: linear-gradient(to right, #0088ff, #551188);
    padding: 20px;
    font-size: 30px;
}

.Link-bar {
    overflow: hidden;
    background-color: black;
}

.Link-bar a {
    float: left;
    color: white;
    font-size: 30px;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.Link-bar a:hover {
    color: black;
    background-color: gray;
}

.Content {
    float: left;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Content.side {
    background-color: #ccccff;
    width: 25%;
}

.Content.middle {
    background-color: black;
    color: white;
    width: 50%;
    align-items: center;
}

.soccer-ball {
    width: 25%;
    height: 25%;
    position: relative;
    top: 0px;
    animation: soccer-ball-spin infinite 20s linear;

}

.Footer-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
}

.Footer-bar a {
    float: right;
    color: white;
    font-size: 15px;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.Footer-bar a:hover {
    color: black;
    background-color: gray;
}

.Footer-bar p {
    float:left;
    color:white;
    font-size: 10px;
    padding: 14px 16px;
    transition-duration: 1.0s
}

@keyframes soccer-ball-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*/