.wrapper {
  align-items: center;
  justify-content: center;
}

.header button {
  background-color: black;
  color: orange;
  display: block; 
  border: none;
  font-size: 20pt;
  width: 440px;
  height: 40px;
}

.header button:hover {
  background-color: orange;
}

.row div {
  float:left;
}

.column button {
  background-color: black;
  color: orange;
  display: block;
  border: none;
  padding: 10px;
  padding-bottom: 5px;
}

.column button:hover {
  background-color: orange;
}