.SportsPage {
  text-align:center;
}

.header button {
  background-color: black;
  color: orange;
  display: block; 
  border: none;
  font-size: 20pt;
  width: 440px;
  height: 40px;
}

.Sports-Content.side {
  float: left;
  background-color: black;
}

.header button:hover {
  background-color: orange;
}

.row div {
  float:left;
}

.Sporty {
  font-size: 30px;
  color: orange;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 14px 16px;
  transition-duration: 0.4s;
}

.Sporty:hover {
  background-color: purple;
}


.column button {
  background-color: black;
  color: orange;
  display: block;
  border: none;
  padding: 10px;
  padding-bottom: 5px;
}

.column button:hover {
  background-color: orange;
}