.create_page {
  text-align: center;
}

.create-button {
    /*width: 115px;
    height: 25px;*/
    background: #4E9CAF;
    /*padding: 10px;*/
    border-radius: 5px;
    color: white;
    font-weight: bold;
}